global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'ftso-provider'
    static_configs:
      - targets: ['ftso-provider:9090']
    scrape_interval: 5s
    metrics_path: '/metrics'
    honor_labels: true

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
